* {
  font-family: "Roboto";
}

.login__wrapper {
  height: 100vh;
  background-color: #fcfbfd;
  display: flex;
  justify-content: center;
}
.login__form {
  position: absolute;
  top: 150px;
  width: 354px;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}
.login__logo__wrapper {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}
.login__logo__wrapper img {
  width: 90%;
}
.login__input {
  height: 60px;
  background: #f0eef0;
  border: 1px solid;
  border-radius: 5px;
  border-color: #dfdee2;
  padding: 1em;
}
.login__input:focus {
  border-color: #3b6cc8;
  background-color: white;
}
.login__input::-moz-placeholder {
  color: lightgrey;
}
.login__input:-ms-input-placeholder {
  color: lightgrey;
}
.login__input::placeholder {
  color: lightgrey;
}
.login__button {
  height: 60px;
  color: rgb(238, 238, 238);
  background: linear-gradient(to right, #003c7f, #41ae7c);
  border-radius: 5px;
  text-align: center;
}

.header__wrapper {
  height: 104px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #dfdee2;
}
.header__logo__wrapper {
  width: 30%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.header__logo__wrapper img {
  height: 40px;
}
.header__tray {
  width: 30%;
  display: flex;
  flex-direction: end;
  justify-content: end;
  align-items: center;
  font-weight: bold;
}
.header__tray > * {
  margin-left: 1em;
}
.header__tray__user-profile {
  border: 1px solid grey;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  height: 55px;
  width: 160px;
  text-align: center;
  padding: 18px;
}
.header__tray__user-profile__user-icon {
  display: flex;
  align-items: center;
}
.header__tray__timer {
  background-color: #41ae7c;
  color: white;
  height: 55px;
  width: 85px;
  border-radius: 30px;
  text-align: center;
  padding: 18px;
}

.dashboard__wrapper {
  background-color: #fcfbfd;
  height: calc(100vh - 104px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard__grid {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.8em;
}
.dashboard__grid .dashboard__item {
  background-color: white;
  width: 400px;
  height: 350px;
  border: 1px solid #dfdee2;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}
.dashboard__grid .dashboard__item__icon {
  height: 50%;
  padding: 5em 3em;
}
.dashboard__grid .dashboard__item__text {
  font-size: 20px;
  height: 50%;
  padding-top: 2.5em;
  padding-left: 2em;
}

/*Alert*/
.alert {
  display: flex;
  flex-direction: column;
  width: 514px;
  margin-top: 40px;
}
.alert-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 93px;
  /* UI Properties */
  background: #FFD0CB 0% 0% no-repeat padding-box;
  border-radius: 10px;
}
.alert-danger-mark {
  width: 17px;
  height: inherit;
  background: #E7594D 0% 0% no-repeat padding-box;
  box-shadow: 0px 17px 36px rgba(0, 99, 227, 0.0588235294);
  border-radius: 10px 0px 0px 10px;
}

.danger {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E9594C;
  margin-left: 21px;
  width: 26px;
  height: 26px;
  border: 2px solid #E9594C;
  border-radius: 5px;
}

.error-text {
  display: flex;
  flex-direction: column;
  margin-left: 23px;
}
.error-text-one {
  width: 87px;
  height: 26px;
  text-align: left;
  font: normal normal 600 22px/26px SF Pro Rounded;
  letter-spacing: 0px;
  color: #21242E;
}
.error-text-two {
  width: 325px;
  height: 19px;
  text-align: left;
  font: normal normal medium 16px/19px SF Pro Rounded;
  letter-spacing: 0px;
  color: #002E46;
  opacity: 0.5;
}

.closebtn {
  margin: auto;
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: #7F7F88 0% 0% no-repeat padding-box;
}

.danger-btn {
  margin-right: 25px;
}

.warning-btn {
  margin-right: 24px;
}

.alert-warning {
  margin-top: 22px;
  width: 513px;
  height: 94px;
  background: #FFE8C3 0% 0% no-repeat padding-box;
  border-radius: 10px;
}
.alert-warning-mark {
  width: 16px;
  height: 94px;
  background: #E8A029 0% 0% no-repeat padding-box;
  box-shadow: 0px 17px 36px rgba(0, 99, 227, 0.0588235294);
  border-radius: 10px 0px 0px 10px;
}

.warning {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E8A029;
  margin-left: 22px;
  width: 26px;
  height: 23px;
  border: 2px solid #E8A029;
  border-radius: 5px;
}
.warning-text-two {
  width: 362px;
}/*# sourceMappingURL=input.css.map */