// Global colors
$bg-primary: linear-gradient(to right, #003c7f, #41ae7c);
$bg-grey: #fcfbfd;
$btn-green: #41ae7c;
$text-white: rgb(238, 238, 238);
$placeholder: lightgrey;
$login-bg: #f0eef0;
$login-input-border: #dfdee2;
$login-input-border-focused: #3b6cc8;
$error-text: #21242E;
$error-text-two: #002E46;
$warning:#E8A029;
$danger: #E9594C;
* {
  // border: 1px solid red;
  font-family: "Roboto";
}

//Login Page
.login {
  &__wrapper {
    height: 100vh;
    background-color: #fcfbfd;
    display: flex;
    justify-content: center;
  }

  &__form {
    position: absolute;
    top: 150px;
    width: 354px;
    display: flex;
    flex-direction: column;
    gap: 1.3em;
  }

  &__logo__wrapper {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;

    img {
      width: 90%;
    }
  }

  &__input {
    height: 60px;
    background: $login-bg;
    border: 1px solid;
    border-radius: 5px;
    border-color: $login-input-border;
    padding: 1em;

    &:focus {
      border-color: $login-input-border-focused;
      background-color: white;
    }

    &::placeholder {
      color: $placeholder;
    }
  }

  &__button {
    height: 60px;
    color: $text-white;
    background: $bg-primary;
    border-radius: 5px;
    text-align: center;
  }
}

//Dashboard
.header {
  &__wrapper {
    height: 104px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #dfdee2;
  }

  &__logo {
    &__wrapper {
      width: 30%;
      display: flex;
      justify-content: start;
      align-items: center;

      img {
        height: 40px;
      }
    }
  }

  &__tray {
    width: 30%;
    display: flex;
    flex-direction: end;
    justify-content: end;
    align-items: center;
    font-weight: bold;

    & > * {
      margin-left: 1em;
    }

    &__user-profile {
      border: 1px solid grey;
      border-radius: 30px;
      display: flex;
      justify-content: space-around;
      height: 55px;
      width: 160px;
      text-align: center;
      padding: 18px;

      &__user-icon {
        display: flex;
        align-items: center;
      }
    }

    &__timer {
      background-color: $btn-green;
      color: white;
      height: 55px;
      width: 85px;
      border-radius: 30px;
      text-align: center;
      padding: 18px;
    }
  }
}

.dashboard {
  &__wrapper {
    background-color: $bg-grey;
    height: calc(100vh - 104px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__grid {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.8em;

    .dashboard__item {
      background-color: white;
      width: 400px;
      height: 350px;
      border: 1px solid #dfdee2;
      border-radius: 30px;
      display: flex;
      flex-direction: column;

      &__icon {
        height: 50%;
        padding: 5em 3em;
      }

      &__text {
        font-size: 20px;
        height: 50%;
        padding-top: 2.5em;
        padding-left: 2em;
      }
    }
  }
}
/*Alert*/
.alert{
  display: flex;
  flex-direction: column;
  width: 514px;
  margin-top: 40px;
  &-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 93px;
    /* UI Properties */
    background: #FFD0CB 0% 0% no-repeat padding-box;
    border-radius: 10px;
  }
  &-danger-mark{
    width: 17px;
    height: inherit;
    background: #E7594D 0% 0% no-repeat padding-box;
    box-shadow: 0px 17px 36px #0063E30F;
    border-radius: 10px 0px 0px 10px;
  }
}

.danger{
  display: flex;
  align-items: center;
  justify-content: center;
  color:$danger;
  margin-left: 21px;
  width: 26px;
  height: 26px;
  border: 2px solid $danger;
  border-radius: 5px;
}

.error-text{
  display: flex;
  flex-direction: column;
  margin-left: 23px;
  &-one{
    width: 87px;
    height: 26px;
    text-align: left;
    font: normal normal 600 22px/26px SF Pro Rounded;
    font-weight: bold;
    letter-spacing: 0px;
    color: $error-text;
  }
  &-two{
    width: 325px;
    height: 19px;
    text-align: left;
    font: normal normal medium 16px/19px SF Pro Rounded;
    letter-spacing: 0px;
    color: $error-text-two;
    opacity: 0.5;
  }
}

.closebtn {
  margin:auto;
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: #7F7F88 0% 0% no-repeat padding-box;
  font-size: 25px;
  font-weight: bold;
}
.warning-btn{
  padding-right: 53px;
}
.alert-warning{
  margin-top: 22px;
  width: 513px;
  height: 94px;
  background: #FFE8C3 0% 0% no-repeat padding-box;
  border-radius: 10px;
  &-mark{
    width: 16px;
    height: 94px;
    background: #E8A029 0% 0% no-repeat padding-box;
    box-shadow: 0px 17px 36px #0063E30F;
    border-radius: 10px 0px 0px 10px;
  }
}
.warning{
  display: flex;
  align-items: center;
  justify-content: center;
  color:$warning;
  margin-left: 22px;
  width: 26px;
  height: 23px;
  border: 2px solid $warning;
  border-radius: 5px;
  &-text-two{
    width: 362px;
  }
}
.alert--hidden{
  display: none;
}
.timeLimit-hidden{
  display: none;
}
.timeLimit{
width: inherit;
height: 19px;
text-align: center;
font: normal normal medium 16px/19px SF Pro Rounded;
letter-spacing: 0px;
}

//dashboard_4 content
.dashboard{
  &__main{
    display: flex;
    margin-top: 20px;
    padding-left: 143px;
  }
  &__back_btn{
    display: flex;
    justify-content: start;
    border: 1px solid grey;
    border-radius: 30px;
    width: 160px;
    height: 55px;
  }
  &_4__wrapper{
    display: flex;
    margin-left: 70px;
    width: 660px;
    height: 405px;
    border: 1px solid #dbd8de ;
    border-radius: 30px;
    &__content{
      display: flex;
      flex-direction: column;
      margin: 2em 3em;
      width: 550px;
    }
  }

}
.zz{
  display: flex;
  justify-content: space-between;
  margin: 1em 0em;
  align-items: center;
  &_input{
     width: 400px;
     height: 50px;
     background-color:$login-bg ;
     border: 1px solid  $login-input-border;
     border-radius: 5px;
     margin-right: 1em;
     padding-left:1em;
     &::placeholder {
      color: $placeholder;
    }
  }
  &_next_button{
    width: 255px;
    height: 55px;
    color: $text-white;
    background: $bg-primary;
    border-radius: 5px;
    text-align: center;
    margin-left: 145px;
    margin-top:1.5em;
  }
}