* {
  font-family: "Roboto";
}

.login__wrapper {
  height: 100vh;
  background-color: #fcfbfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.login__form {
  position: absolute;
  top: 150px;
  width: 354px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.3em;
}

.login__logo__wrapper {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.login__logo__wrapper img {
  width: 90%;
}

.login__input {
  height: 60px;
  background: #f0eef0;
  border: 1px solid;
  border-radius: 5px;
  border-color: #dfdee2;
  padding: 1em;
}

.login__input:focus {
  border-color: #3b6cc8;
  background-color: white;
}

.login__input::-webkit-input-placeholder {
  color: lightgrey;
}

.login__input:-ms-input-placeholder {
  color: lightgrey;
}

.login__input::-ms-input-placeholder {
  color: lightgrey;
}

.login__input::placeholder {
  color: lightgrey;
}

.login__button {
  height: 60px;
  color: #eeeeee;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#003c7f),
    to(#41ae7c)
  );
  background: linear-gradient(to right, #003c7f, #41ae7c);
  border-radius: 5px;
  text-align: center;
}

.header__wrapper {
  height: 104px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-bottom: 1px solid #dfdee2;
}

.header__logo__wrapper {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo__wrapper img {
  height: 40px;
}

.header__tray {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: end;
  flex-direction: end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
}

.header__tray > * {
  margin-left: 1em;
}

.header__tray__user-profile {
  border: 1px solid grey;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 55px;
  width: 160px;
  text-align: center;
  padding: 18px;
}

.header__tray__user-profile__user-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__tray__timer {
  background-color: #41ae7c;
  color: white;
  height: 55px;
  width: 85px;
  border-radius: 30px;
  text-align: center;
  padding: 18px;
}

.dashboard__wrapper {
  background-color: #fcfbfd;
  height: calc(100vh - 104px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dashboard__grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  gap: 0.8em;
}

.dashboard__grid .dashboard__item {
  background-color: white;
  width: 400px;
  height: 350px;
  border: 1px solid #dfdee2;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dashboard__grid .dashboard__item__icon {
  height: 50%;
  padding: 5em 3em;
}

.dashboard__grid .dashboard__item__text {
  font-size: 20px;
  height: 50%;
  padding-top: 2.5em;
  padding-left: 2em;
}
/*# sourceMappingURL=input.css.map */
